.direito {
    background-color: blueviolet;


}

.esquerdo {
    background-color: red;

}

.rodape {
    display: flex;
    flex: wrap;
}

.coluna {
    background-color: black;
    width: 100%;
    margin: 5px;
}

.item {
    background-color: white;
    margin: 5px;
    fle
}