header {
    background-color: #1d2120;
}

.recebe-tudo {
    padding: 15px 50px 15px 50px; 
}


.linha {
    display: flex;
}

.coluna-direita, .coluna-esquerda {
    width: 50%;
}

.coluna-direita {
    display: inline;
}

.item-menu {
    display: block;
    padding: 20px;
}

.itens-menu {
    list-style: none;
    padding: 0;
    display: flex;
    border: 2px solid green;
    border-radius: 25px;

}

.itens-menu .item-menu {
    color: white;
}
